        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{{ url_for('static',filename='js/jquery-3.3.1.min.js')}}"></script>
        <script src="{{ url_for('static',filename='js/popper.js')}}"></script>
        <script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
        <script src="{{ url_for('static',filename='js/stellar.js')}}"></script>
        <script src="{{ url_for('static',filename='vendors/lightbox/simpleLightbox.min.js')}}"></script>
        <script src="{{ url_for('static',filename='vendors/nice-select/js/jquery.nice-select.min.js')}}"></script>
        <script src="{{ url_for('static',filename='vendors/isotope/imagesloaded.pkgd.min.js')}}"></script>
        <script src="{{ url_for('static',filename='vendors/isotope/isotope.pkgd.min.js')}}"></script>
        <script src="{{ url_for('static',filename='vendors/owl-carousel/owl.carousel.min.js')}}"></script>
        <script src="{{ url_for('static',filename='vendors/popup/jquery.magnific-popup.min.js')}}"></script>
        <script src="{{ url_for('static',filename='js/jquery.ajaxchimp.min.js')}}"></script>
        <script src="{{ url_for('static',filename='vendors/counter-up/jquery.waypoints.min.js')}}"></script>
        <script src="{{ url_for('static',filename='vendors/counter-up/jquery.counterup.min.js')}}"></script>
        <script src="{{ url_for('static',filename='js/mail-script.js')}}"></script>
        <script src="{{ url_for('static',filename='js/theme.js')}}"></script>